.headersection {
    background: #b7d8d3 none repeat scroll 0 0;
}
.navsection {
    background: none repeat scroll 0 0 #9c9aad;
}
.navsection ul li a:hover, #active {
    background: #a24272;
}
.searchbtn input[type="text"] {
    border: 1px solid #df1d7e;
    background: #d3dcd2;
}